body {
  line-height: 1.5;
  font-family: "Mina", sans-serif;
}

.navbar-backgr {
  background-color: #202020;
}

.navbar-backgr a {
  font-family: "Mina", sans-serif;
  font-size: 23px;
  margin-right: 18px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.navbar-backgr a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: #ffde9f;
}

.navbar-backgr .brand-name {
  font-size: 30px !important;
  font-weight: bold;
  margin-left: 15px;
}

.navbar-backgr .brand-name:hover {
  text-decoration: none;
}

.navbar-backgr .custom-navbar-link {
  color: #ffde9f !important;
  font-weight: bold !important;
}

.navbar-backgr .custom-navbar-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.navbar-toggler-icon {
  background-color: #ffde9f !important; /* Change the background color */
  border-radius: 3px;
}

.custom-toggler {
  border: 3px solid #ffffff !important;
}

.container.hero {
  margin: 0;
  max-width: 100%;
}

.hero-text-section {
  background-color: #fff2db;
  padding: 20px 50px;
  border-right: 3px solid black;
}

.hero-welcome {
  font-family: "Mina", sans-serif;
  font-size: 28px;
  padding: 120px 0 20px 60px;
}

.hero-text {
  font-family: "Mina", sans-serif;
  font-size: 75px;
  padding: 0 0 20px 60px;
  font-weight: bold;
}

.hero-description {
  font-family: "Mina", sans-serif;
  font-size: 15px;
  padding: 0 0 20px 60px;
}

.hero-button-1 {
  margin-left: 60px;
  margin-right: 25px;
  border-radius: 48px;
  padding: 26px 38px;
  background-color: #202020;
  color: white;
  font: "Mina", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #202020;
  transition: all ease-in-out 200ms;
}

.hero-button-1:hover {
  background-color: white;
  color: #202020;
  border: 3px solid #202020;
  text-decoration: underline;
  text-decoration-color: #ffde9f;
  text-decoration-thickness: 3px;
}

.hero-button-2 {
  margin-right: 25px;
  border-radius: 48px;
  padding: 26px 38px;
  background-color: white;
  color: #202020;
  font: "Mina", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #202020;
  transition: border-color 0.3s, transform 0.3s, background-color 0.3s,
    color 0.3s;
}

.hero-button-2:hover {
  background-color: #202020;
  color: white;
  border: 1px solid #202020;
  text-decoration: underline;
  text-decoration-color: #ffde9f;
  text-decoration-thickness: 3px;
}

.hero-pic-section {
  background-color: #f7e5fd;
  padding: 20px 50px;
}

.pic-roberta {
  max-width: 95%;
  margin-top: 40px;
}

.hero-row {
  border-bottom: 3px solid black;
}

.project-section {
  padding: 70px 50px 50px 70px;
}

.project-title {
  display: inline-block;
  font-family: "Mina", sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-left: 7px;
}

.h2-deco {
  width: 30%;
  margin: -150px -90px;
  padding: 0;
}

.weather-img {
  margin-left: 70px;
  width: 80%;
  margin-top: -35px;
}

.weather-h2,
.clock-h2,
.poem-h2 {
  font-family: "Mina", sans-serif;
  font-weight: bold;
}

.weather-p,
.clock-p,
.poem-p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-top: 30px;
}

.weather-row {
  padding-bottom: 60px;
}

.clock-row {
  padding: 30px 70px 60px 70px;
}

.clock-img {
  margin-right: 70px;
  width: 90%;
  margin-top: -35px;
}

.poem-img {
  margin-left: 70px;
  width: 80%;
  margin-top: -35px;
}

.poem-row {
  padding-top: 30px;
  padding-bottom: 60px;
}

.launch-button {
  margin-right: 25px;
  margin-top: 40px;
  border-radius: 48px;
  padding: 20px 28px;
  background-color: #ffde9f;
  font: "Mina", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #202020;
  transition: all ease-in-out 200ms;
}

.launch-button:hover {
  background-color: #fff2db;
  color: #202020;
  border: 3px solid #202020;
  text-decoration: underline;
  text-decoration-color: #202020;
  text-decoration-thickness: 3px;
}

.weather-link,
.clock-link,
.poem-link {
  color: #202020;
  text-decoration: none;
  font-family: "Mina", sans-serif;
}

.git-button {
  margin-right: 25px;
  margin-top: 40px;
  border-radius: 48px;
  padding: 20px 28px;
  background-color: #f7e5fd;
  font: "Mina", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #202020;
  transition: all ease-in-out 200ms;
}

.git-button:hover {
  background-color: #fff2db;
  border: 3px solid #202020;
}

.git-projects {
  color: #202020;
  width: 24px;
  height: 24px;
}

footer {
  background-color: #ebf4ff;
  padding: 40px 40px 20px 40px;
  border-top: 3px solid #202020;
}

.footer-link {
  font-size: 40px;
  margin-right: 50px;
}
.icon-footer {
  color: #202020;
}

.signature {
  font-size: 16px;
  font-family: monospace;
  padding-top: 15px;
}
